body{
    font-family:'Lucida Sans';
    font-size:16px;
    font-weight:normal;
    color:black;
    background-color:#F7F7FF;
}
header,figure{
    background-color: #985f6f;
    color:#F7F7FF;
    margin:0%
}
figure,h1,nav{
    padding: 10px 20px;
    margin:0%
}
a#href{
    font-family:'Lucida Sans';
    color:black;
}
h1{
    font-weight:bold;
}
h2{
    text-transform:capitalize;
    color:#985f6f;
    font-size:22px;
    margin:0px;
    padding:0px;
    font-weight: bold;
}
h2#contactsection{
    text-transform:capitalize;
    color:#F7F7FF;
    font-size:22px;
    margin:0px;
    padding:0px;
    font-weight: bold;
}
div{
    margin:30px 0px 5px 0px;
    padding:0px;
}
h3{
    text-transform:capitalize;
    color:#985f6f;
    font-size:20px;
    margin:0px;
    padding:0px 0px 5px 0px;
    font-weight: bold;
}
h4{
    color:#985f6f;
    font-size:18px;
    padding:0px;
    margin:0px;
}
ul{
    padding:0px 10px 10px 30px;
    margin:0px;
}
p,table{
    margin:0px;
    padding:8px 0px 10px 0px;
}
label{
    margin: 0px 120px 0px 0px;
}
div#contactsection{
    background-color: #985f6f;
    color:#F7F7FF;
    margin-bottom:10px;
}
form,p#contactsection{
    padding:10px;
}
p{
    min-width: 200px;
    max-width:600px;
}